<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<p th:text="${person.getFirstName()}"></p>
<p th:text="${person.getLastName()}"></p>
<p th:text="${person.getAge()}"></p>
<a th:href="@{/admin/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete!"/>
</form>
<br/>
<a href="/logout">Logout</a>
</body>
</html>