<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">LastName</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${users}">
        <td>
            <a th:href="@{/admin/{id}(id=${person.getId()})}">
                <p th:text="${person.getId()}"></p>
            </a>
        </td>
        <td th:text="${person.getFirstName()}"/>
        <td th:text="${person.getLastName()}"/>
        <td th:text="${person.getAge()}"/>
    </tr>
    </tbody>
</table>
<br/>
<hr/>
<a href="/admin/new">Create new person</a>
<br/>
<a href="/logout">Logout</a>
</body>
</html>